.card {
    display: flex;
    align-items: center;
}

.cardimage {
    border-radius: 50px;
    width: 250px;
    height: 250px;
    border: 10px solid #457B9D;
    background-color: white;
    margin: 85px;
}

.cardredirectbutton {
    background-color: #457B9D;
    color: white;
    padding: 0.6em;
    font-size: 20px;
    border-radius: 0.8em;
    font-family: TitilliumWeb;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    outline: none;
}

.cardredirectbutton:hover {
    transform: scale(1.1);
}

.cardredirectbutton:active {
    background-color: white;
}

.cardtext {
    font-size: 35px;
}

.carddescription {
    font-size:20px;
}

.cardtext .carddetails {
    color: #1D3557;
    font-size: 20px;
}