.card {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}

.cardimage {
    border-radius: 50px;
    width: 250px;
    height: 250px;
    border: 10px solid #457B9D;
    background-color: white;
    margin: 50px;
}

.cardredirectbutton {
    background-color: #457B9D;
    color: white;
    padding: 0.6em;
    font-size: 20px;
    border-radius: 0.8em;
    font-family: TitilliumWeb;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 10px;
}

.cardredirectbutton:hover {
    transform: scale(1.1);
}

.cardredirectbutton:active {
    background-color: white;
}

.cardtext {
    font-size: 25px;
}

.carddescription {
    font-size:20px;
}

.cardtext .carddetails {
    color: #1D3557;
    font-size: 20px;
}

@media screen and (max-width: 1250px) {
    .card {
        display: block;
        text-align: center;
    }

    .cardimage {
        margin: 20px;
    }
}

@media screen and (max-width: 750px) {
    .cardimage {
        width: 200px;
        height: 200px;
    }

    .cardtext {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .cardtext {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    .cardimage {
        width: 150px;
        height: 150px;
    }
}