.Collapsible {
    background-color: #457B9D;
    padding: 10px;
    border-radius: 0.4em;
}

.Collapsible__contentInner {
    background-color: white;
    padding: 10px;
    border-radius: 0.4em;
}

.Collapsible__trigger:after {
    content: '+'; 
    font-size: 30px;
    color: white;
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .Collapsible__trigger:after {
        font-size: 22px;
    }
}

@media screen and (max-width: 500px) {
    .Collapsible__trigger:after {
        font-size: 20px;
    }
}
