.Collapsible {
    background-color: #457B9D;
    cursor: pointer;
    padding: 10px;
    border-radius: 0.4em;
}

.Collapsible__contentInner {
    background-color: white;
    padding: 10px;
    border-radius: 0.4em;
}

.Collapsible__trigger:after {
    content: '+'; 
    font-size: 30px;
    color: white;
    float: right;
}
