@font-face {
  font-weight: 100;
  font-family: 'TitilliumWeb';
  src: local('TitilliumWeb'), url(./Components/Resources/Fonts/TitilliumWeb-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb';
  font-weight: 450;
  src: local('TitilliumWeb'), url(./Components/Resources/Fonts/TitilliumWeb-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb';
  font-weight: 900;
  src: local('TitilliumWeb'), url(./Components/Resources/Fonts/TitilliumWeb-Bold.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #457B9D;
  font-weight: 100;
  color: black;
  font-family: TitilliumWeb;
}

.mainheader {
  padding: 2.5%;
  color: #F1FAEE;
  align-items: center;
  justify-content: center;
  display: flex;
}

.greeting {
  font-size: calc(100% + 3vw);
  font-weight: 900;
  margin: 5%;
  text-align: left;
  line-height: 200%;
}

.greeting .name {
  background-color: #1D3557;
  padding: 0em 0.2em;
  border-radius: 0.5em;
}

.mainheader .image {
  width: 30%;
  border-radius: 50%;
  border: 0.8vw solid #1D3557;
}

.social {
  text-align: center;
  font-size: calc(100% + 0.4vw);
  padding-bottom: 1vw;
  align-items: center;
  justify-content: center;
  color: white;
}

.social .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social .logo .image {
  width: 50px;
  margin: 1vw;
  border-radius: 50%;
}

.social .logo .image:hover {
  transform: scale(1.2);
}

.maincontent {
  background-color: #F1FAEE;
  padding-bottom: 3vw;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.aboutme {
  margin-bottom: 10%;
}

.maincontent .contentheader {
  font-size: calc(100% + 2.5vw);
  color: #1D3557;
  font-weight: 900;
  text-align: center;
  padding: 1em;
}

.maincontent .content {
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 75%;
  font-size: calc(100% + 1vw);
}


.footer {
  text-align: center;
  padding: 2vw;
  background-color: #1D3557;
  color: white;
  font-weight: bold;
  font-size: calc(100% + 1vw);
}