@font-face {
  font-weight: 100;
  font-family: 'TitilliumWeb';
  src: local('TitilliumWeb'), url(./Components/Resources/Fonts/TitilliumWeb-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb';
  font-weight: 450;
  src: local('TitilliumWeb'), url(./Components/Resources/Fonts/TitilliumWeb-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb';
  font-weight: 900;
  src: local('TitilliumWeb'), url(./Components/Resources/Fonts/TitilliumWeb-Bold.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1D3557;
  font-weight: 450;
  color: black;
  font-family: TitilliumWeb;
}

.mainheader {
  padding: 25px;
  margin-top: 50px;
  color: #F1FAEE;
  align-items: center;
  justify-content: center;
  display: flex;
}

.greeting {
  font-size: 70px;
  font-weight: 900;
  margin: 50px;
  text-align: left;
  line-height: 200%;
}

.mainheader .image {
  width: 450px;
  border-radius: 50%;
  border: 10px solid #457B9D;
}

.social {
  text-align: center;
  font-size: 25px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  color: white;
}

.social .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social .logo .image {
  width: 60px;
  margin: 20px;
  border-radius: 50%;
  transition-duration: 0.4s;
}

.social .logo .image:hover {
  transform: scale(1.1);
}

.maincontent {
  background-color: #1D3557;
  padding-bottom: 20px;
}

.maincontent .box {
  padding-bottom: 80px;
}


.maincontent .contentheader {
  font-size: 70px;
  color: white;
  font-weight: 900;
  text-align: center;
  margin: 1em;
}

.maincontent .content {
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 75%;
  font-size: 35px;
  color:white;
}


.footer {
  text-align: center;
  padding: 60px;
  background-color: #457B9D;
  color: white;
  font-weight: bold;
  font-size: 30px;
}